 <header class="navbar navbar-fixed-top navbar-inverse">
	
  	<div style="color:white" id="logo">StudentXStudent</div>

	<div class="container-fluid"> 
	
	<div style="color:white">
	<% if  curren_user  %>
   	
     welcome: <%=  curren_user.Name %>
 

	<%= link_to "Log out" , logout_path , method: "delete"%> 
	
	<%= link_to "Profile" , profile_index_path %>
	
	<% end %>
	</div>
	<nav> 
	
	<ul class="nav navbar-nav navbar-right">




	<li><%= link_to 'home', root_path %></li>

	<li><%= link_to "Sign In" , new_session_path %></li>

	<li><%= link_to "Sign up" , new_login_path %></li>

	<li><%= link_to "about"%></li>


	
	</ul>
	</nav>
	</div>
</header>
<section>
	<p>Author: YituoChen</p>



</section>